<nav class="navbar bg-primary text-primary-content fixed top-0 z-10">
    <div class="navbar-start">
        <a hx-swap="transition:true" class="btn btn-ghost text-xl" href="{{ url_for('index') }}">
            Todo List
        </a>
    </div>
    <div class="navbar-end">
        {% if g.user %}
        <span class="font-bold text-indigo-700 mr-8">
            {{ g.user.username }}
        </span>
        <a hx-swap="transition:true" class="btn btn-ghost text-lg" href="{{ url_for('todo_views.index') }}">
            Tasks
        </a>
        <a hx-swap="transition:true" class="btn btn-ghost text-lg" href="{{ url_for('auth_views.logout') }}">
            Logout
        </a>
        {% else %}
        <a hx-swap="transition:true" class="btn btn-ghost text-lg" href="{{ url_for('auth_views.register') }}">
            Register
        </a>
        <a hx-swap="transition:true" class="btn btn-ghost text-lg" href="{{ url_for('auth_views.login') }}">
            Login
        </a>
        {% endif %}
    </div>
</nav>